# Template Konfigurasi Environment GoCatat (Frontend)
# Salin file ini menjadi '.env' dan isi sesuai server kamu.
# DILARANG commit file '.env' berisi data rahasia ke repository Git!

# Base URL API Backend Go
API_BASE_URL=https://my-project-gocatat-be.lzfki7.easypanel.host/api/v1
